#top-1 {
    font-size: 40px;
    padding-left: 20px;
    height: auto;
}

#chapter {
    display: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}
    /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    }
    / optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
